header{
	background: #0086b3;
	color: white;
	box-shadow: 0 0 5px #595959;
	border-bottom: 1px solid #273748;
}

footer{
	position: relative;
	width: 100%;
	bottom:0;
	background: #FFFFFF;
	color: black;
}

body{
	background: #ECF0F5;
}
h4,h3{
	margin-top: 0px;
}

.logo {
  width: 75px;
  margin-top:5px;
  margin-bottom: 5px;
}

.logoe {
  width: 75px;
  margin-top:5px;
  margin-bottom: 5px;
  float: right;
}

.titulo1{
	margin-top: 5px;
	text-transform: uppercase;
}
.titulo2 {
	color: #5CC6D0;
	text-transform: uppercase;
	margin-top: 0px;
}

.titulo3 {
	margin-top: 0px;
}


#inicio {
  background: #C1C5D0 !important;
  padding-top: 12%;
}

#box{
  background: white;
  padding-bottom: 40px;
  box-shadow: 0 0 4px #D8D8D8;
  border-radius: 3px;
}

#header-login{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background:#286090; 
	color:white;
}

/*ESTILOS DE BOOTSTRAP MODIFICADOS*/
.panel-primary > .panel-heading {
    background-color: #0086b3!important;
    border-color: #2C3F51!important;
    color: #fff !important;
}

.panel-primary > .panel-heading {
    background-image: linear-gradient(to bottom, #0086b3 0%, #0081AC 100%);
    background-repeat: repeat-x;
}

.panel-primary {
    border-color: #0086b3 !important;
}

.btn-miestilo {
    background-color: #34495E;
    border-color: #2e6da4;
    color: #fff;
}

.navbar-default{
	border-radius: 0px !important;
}

.navbar-nav > li > a {
    border-right: 1px solid !important;   
    border-right-color: #E7E7E7 !important; 
}

.multiselect-container>li>a>label {
  padding: 4px 20px 3px 20px;
}


.navbar-inverse {
    background-image: linear-gradient(to bottom, #222D32 0%, #222 100%) !important;
    background-repeat: repeat-x;
}

.navbar-inverse .navbar-nav > li > a {
    color: #E7E7E7;
}

.navbar {
    border-radius: 0px !important;
}
